Repository yiisoft/test-support, pull requests merged in 2020-12, with the labels that each got.

#16 Add simple cache implementations
  composer.json
  phpunit.xml.dist
  src/SimpleCache/Action.php
  src/SimpleCache/Exception/InvalidArgumentException.php
  src/SimpleCache/MemorySimpleCache.php
  src/SimpleCache/SimpleCacheActionLogger.php
  tests/SimpleCache/ActionTest.php
  tests/SimpleCache/BaseSimpleCacheTest.php
  tests/SimpleCache/MemorySimpleCacheTest.php
  tests/SimpleCache/SimpleCacheActionLoggerTest.php
Labels: status:code review

#19 Add ru documentation
  README.md
  docs/en/README.md
  docs/ru/README.md
  src/SimpleCache/MemorySimpleCache.php
Labels: status:code review, type:docs

#21 En documentation
  docs/en/README.md
  docs/ru/README.md
Labels: status:under development, type:docs
